<%= link_to t('buttons.back'), root_path, class: 'btn btn-secondary' %>

<%= link_to t('buttons.register', model: 'Produto'), new_product_category_path, class: 'btn btn-primary' %>
<h1>Produtos</h1>

<% if @product_categories.empty? %>
<h3>Nenhum produto cadastrado</h3>
<% else %>
    <% @product_categories.each do |product| %>
        <h3> <%=link_to product.name, product %></h3>
        <dl>
            <dt><%= ProductCategory.human_attribute_name(:code) %></dt>
            <dd><%= product.code %></dd>
        </dl>
        <hr>
    <% end%>
<% end%>