<%= link_to t('buttons.back'), product_categories_path, class: 'btn btn-secondary' %>

<h3><%= @product_category.name %></h3>
<dl>
    <dt><%= ProductCategory.human_attribute_name(:code) %></dt>
    <dd><%= @product_category.code %></dd>
</dl>

<%= link_to t('.update'), edit_product_category_path(@product_category), 
                          class: 'btn btn-primary' %>
<%= button_to t('.delete'), product_category_path(@product_category),
                            method: :delete, 
                            data: {disable_with: t('messages.disable_link'), 
                            confirm:t('messages.confirm_delete')}, 
                            class: "btn btn-danger"%>
